/* dhiya CSS Committee Election*/
:root {
--eform-select-bg: #ffffff;
    --eform-select-width: 60px;
    --eform-select-width-2: 300px;
    --eform-select-height: 3.6rem;
    --eform-select-border: #000000;
    --eform-select-font-size: 1.1rem;
    --eform-select-border-radius: var(--card-border-radius-4);
    --eform-select-border-radius-2: var(--card-border-radius-3);
    --eform-select-background: #ffffff;
    --eform-select-color: #000000;
    --eform-select-font-family: poppins, sans-serif;
    --eform-select-font-weight: 600;
    --eform-select-margin: 1rem;
    --eform-select-cursor: pointer;
    --eform-select-margin-top: 1.2rem;
    --eform-select-padding: 1rem;
}

.eform-select {
    background: var(--eform-select-bg);
    height: var(--eform-select-height);
    width: var(--eform-select-width);
    border: var(--eform-select-border);
    border-color: var(--eform-select-color);
    border-radius: var(--eform-select-border-radius);
    background: var(--eform-select-background);
    color: var(--eform-select-color);
    font-family: var(--eform-select-font-family);
    font-weight: var(--eform-select-font-weight);
    margin: 15px 0;
    cursor: var(--eform-select-cursor);
    padding: var(--eform-select-padding);
    font-size: var(--eform-select-font-size);
}

.position-dropdown {
    background: var(--eform-select-bg);
    height: var(--eform-select-height);
    width: var(--eform-select-width-2);
    border: var(--eform-select-border);
    border-radius: var(--eform-select-border-radius);
    background: var(--eform-select-background);
    color: var(--eform-select-color);
    font-family: var(--eform-select-font-family);
    font-weight: var(--eform-select-font-weight);
    margin: 18px 0;
    cursor: var(--eform-select-cursor);
    padding: var(--eform-select-padding);
    font-size: var(--eform-select-font-size);
}

.eform-override {
    appearance: auto !important;
}

select.eform-select {
    -webkit-appearance: menulist !important;
    -moz-appearance: menulist !important;
    -ms-appearance: menulist !important;
    -o-appearance: menulist !important;
    appearance: menulist !important;
}

button.electionmain {
    margin-top: 3rem;
    padding-top:3rem;
    padding-bottom: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border-radius: var(--card-border-radius);
    background-color: var(--color-gray-light);
    color: var(--color-white);
    transition-duration: 0.4s;
}

button.electionmain:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

button.electionuploadregister {
    margin-top: 3rem;
    padding: 0.5rem;
    width: auto;
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    color: var(--color-white);
    transition-duration: 0.4s;
    margin-left: auto;
    margin-right: auto;
}

button.electionuploadregister:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}

button.electionnormal {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: var(--card-border-radius);
    background-color: var(--color-gray-light);
    color: var(--color-white);
    transition-duration: 0.4s;
}

button.electionnormal:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
}


/* ------------------ ASIDE AND SIDEBAR ------------------*/

main .election{
    display: grid;
    grid-template-columns: 16rem 20rem;
    gap: 1rem;
    width: 96%;
    margin: 3rem auto 4rem;
}

main aside .election{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

/* WILL BE SHOWN ONLY ON MOBILE AND TABLET */
main aside button#close__btn {
    display: none;
}

main aside .sidebar__container a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 5rem;
    color: var(--color-gray-light);
    position: relative;
    text-decoration: none;
}

main aside .sidebar__container a span {
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 300ms ease;
}

main aside .sidebar__container a.active-sidebar-btn {
    background: var(--color-white);
    color: var(--color-primary);
    border-radius: 1rem 0rem 0rem 1rem;
}

main aside .sidebar__container a.active-sidebar-btn:before {
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
    border-radius: 1rem 0rem 0rem 1rem;
}

main aside .sidebar__container a:hover {
    color: var(--color-primary);
}

main aside .sidebar__container a:hover span {
    margin-left: 2rem;
}

main aside .sidebar__container h4 {
    font-weight: 500;
}

main section.middle__container {
    margin-left: 3rem;
}

main section.middle__container .electionheader__container {
    display: table-row;
    align-items: center;
    gap: 1rem;
}

main section.middle__container .header__container h1 {
    font-weight: 650;
}

.main__title {
    color: var(--color-black);
    font-weight: 650;
    display: table-row;
    white-space: nowrap;
}

.sub__title {
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: 650;
    display: table-row;
    white-space: nowrap;
}

main section.middle__container .mainelection__container {
    display: table-row;
    /*grid-template-columns: 1fr;
    width: 20rem;*/
    gap: 3rem;
}

section .header__election {
    display: block;
    font-weight: 650;
}

section .election__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.electionregister__container {
    display: grid;
    grid-template-columns: 1fr;
    /*gap: 3rem;*/
}

img.file {
    width: 100%;
    height: auto;
}

.electionforms__container {
    display: grid;
    grid-template-columns: 1fr;
    /*gap: 3rem;*/
}

.electionforms__container {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 3rem;
}

.electionforminputname {
    display: flex;
    gap: 1rem;
}

.electionform_inputname_manifesto {
    display: flex;
    gap: 5rem;
}

textarea.electionterms {
    width: 100%;
    height: 30%;
}

input.electiontextform_matricid {
    width: 40%;
    border: 1px solid var(--color-gray-dark);
    border-radius: var(--border-radius-1);
}

input.electiontextform_name {
    width: 40.5rem;
    border: 1px solid var(--color-gray-dark);
    border-radius: var(--border-radius-1);
}

input.electiontextform_manifesto {
    border: 1px solid var(--color-gray-dark);
    border-radius: var(--border-radius-1);
}